.profileImage {
    width: 50%;
    height: fit-content;
    padding-left: 100px;
    padding-top: 30px;
    margin-right: -9%;
    z-index: 2;
}

.profileImage img {
    width: 80%;
    height: 70%;
}