.profile-text {
    height: 500px;
    width: 100%;
    background-color: #ffffff36;
    padding: 10px;
    padding-left: 6%;
    padding-top: 8%;
    margin-top: -100px;
}

.profile-text h1 {
    color: white;
    font-size: 4em;
    animation: profile-text-animation 0.7s ease-in;
}

.profile-text p {
    color: white;
    width: 70%;
}

@keyframes profile-text-animation {
    0% {
        padding-top: 150px;
        opacity: 0;
    }
    100% {
        padding-top: 0px;
        opacity: 1;
    }
}