nav {
    width: 220px;
    height: 100vh;
    background-color: blue;
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0px;
    position: fixed;
    right: -160px;
    z-index: 5;
    transition: right 0.8s;
}

nav:hover {
    right: 0px;
}

nav ul {
    position: relative;
    list-style: none;
    margin-top: 10px;
    padding-left: 25px;
    height: fit-content;
    align-items: center;
}

nav ul li {
    margin: 3rem 0rem;
    display: flex;
    flex-direction: row;
}

nav ul li i,
nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    vertical-align: middle;
    color: white;
}

.fas {
    margin-right: 12px;
}

.sections {
    font-size: 1.5rem;
}