@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
:root {
    --project-card-height: 300px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: black; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

a,
button {
    z-index: 99999 !important;
}

#tsparticles,
canvas {
    z-index: -9999 !important;
    background-color: black;
}

#animation {
    width: 50% !important;
    height: 100% !important;
}

.animation_canvas {
    width: 100% !important;
    height: 100% !important;
}

.hidden_in_desktop {
    display: none !important;
}

.hidden_in_mobile {
    display: block !important;
}

@media screen and (max-width: 768px) {
    #animation {
        width: 100% !important;
    }
    .hidden_in_desktop {
        display: inline-block !important;
    }
    .hidden_in_mobile {
        display: none !important;
    }
}