.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000;
}

.nav span,
.nav ul {
    padding: 10px 20px;
    list-style: none;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav span,
.nav ul li a {
    color: white;
    cursor: pointer;
}

.nav ul li {
    min-width: fit-content;
    margin: 0px 15px
}

.nav ul li a {
    text-decoration: none;
    opacity: 0.9;
}

.nav span p {
    font-size: 2.5em;
    font-weight: light;
    margin: 10px 0px 0px 10px;
    font-family: "Grand Hotel";
}