.profile {
    display: flex;
    flex-direction: row;
}

.profileImage {
    width: 50%;
    height: fit-content;
    padding-left: 100px;
    padding-top: 30px;
    margin-right: -9%;
    z-index: 2;
}

.profileImage img {
    width: 80%;
    height: 70%;
}

.profileText {
    height: 500px;
    width: 100%;
    background-color: #ffffff36;
    padding: 10px;
    padding-left: 6%;
    padding-top: 8%;
    margin-top: -100px;
}

.profileText h1,
.profileText h2 {
    color: white;
    animation: profile-text-animation 0.7s ease-in;
}

.profileText h1 {
    font-size: 4em;
}

.profileText h2 {
    font-size: 2.4em
}

.profileText p {
    margin-top: 3rem;
    color: white;
    width: 70%;
}

@keyframes profile-text-animation {
    0% {
        padding-top: 150px;
        opacity: 0;
    }
    100% {
        padding-top: 0px;
        opacity: 1;
    }
}