.skills {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1rem 3rem;
    margin-top: 5rem;
}

.skillset_content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.skillset_content h1,
.skillset_content p {
    color: white;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.skill_icons_section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.skill_icons_section svg {
    width: 50px;
    margin: 15px;
    height: auto;
}